<div class="row">
  <div class="col-md-12">
    <app-home></app-home>
  </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <img src="assets/images/eatos5.png" alt="" class="eatOsImg" />
      <strong
      style="
    font-weight: bold;
    font-size: 23px;
    margin-top: -492px;
    position: absolute;
    margin-left: -274px;
      "
      >Forgot Password</strong
    >

    <strong style="margin-top: -431px;
    position: absolute;
    margin-left: -270px;
    font-weight: normal;
    font-size: 15px;">
      Please enter your registered email address. We <br> 
      will send an email with instructions to help you <br> 
      reset the password.
    </strong>

    <form action="" (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
    <div class="form-group">
      <label
        for="exampleInputEmail1"
        style="    font-size: 16px;
        font-weight: 500;
        margin-top: 145px;
        margin-left: -221px;"
        >Email*</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter your email"
        style="margin-left: -221px;"
        name="email"
        ngModel
        required
        email
        #email="ngModel"
      />
      <small
        class="text-danger"
        *ngIf="!email.valid && email.touched"
        style="font-size: 16px; margin-left: -221px;"
        >Email must be a valid email address</small
      >
    </div>

    <button
    type="submit"
    class="btn btn-secondary"
    style="
width: 383px;
    height: 40px;
    /* font-weight: bold; */
    font-size: 25px;
    /* padding-bottom: 52px; */
    margin-top: 16px;
    padding-top: 0px;
    margin-left: -221px;
    "
  >
    Send instructions
  </button>

    </form>

    <p class="text-center text-secondary text-dark" style="margin-left: 835px; ">Wait a minute, I remember my password. <a style="text-decoration: none; cursor: pointer; font-weight: bold;" (click)="backToHome()">Sign in</a> </p>

    </div>
  </div>

  