

.eatOsImg{
    margin-top: -1130px;
    margin-left: 951px;
    position: relative;
}

form{
    margin-top: -509px;
    margin-left: 1082px;
}

.form-control{
    height: 41px;
    width: 382px;
}

.form-control2{
    height: 41px;
    width: 340px;
}












